body {
    background: rgb(172, 172, 161);
}
header {
    font: bold 3.5rem Arial;
    color: white;
    margin: 30px 0;
    text-align: center;
}

section {
    background: white;
    font: normal 2rem Arial;
    padding: 15px;
    min-width: 30rem;
    max-width: 35%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 39%);   
}

section img {
    clip-path: circle();
    width: 400px;
    height: 400px;
}

footer{
    margin: 1.5rem 0;
    color: white;
    font: italic 3rem;
    text-align: center;
}