body {
    background: rgb(40, 129, 245);
}
header {
    font: bold 2.5rem Arial;
    color: white;
    margin: 30px 0;
    text-align: center;
}

section {
    background: white;
    font: normal 1.5rem Arial;
    padding: 20px;
    min-width: 30rem;
    max-width: 35%;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 39%);     
}

section #data label{
    display: block;
    margin-bottom: 15px;
}

section #result {
    text-align: center;
    width: 70%;  
    margin: auto     
}

footer{
    margin: 2rem 0;
    color: white;
    font: italic 2rem;
    text-align: center;
}